

<div id="map" class="container"></div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbvK8BomzmCBb7J0w6kEd2u3qDGbEj74A&callback=initMap" async defer></script>

<footer class="navbar navbar-fixed-bottom">
  <div class='col-md-4'></div>
  <div class='col-md-4'>
    <input id="timeline" type="text"  style="display: none;"/>
  </div>
</footer>