<%= stylesheet_link_tag    'homepage/homepage.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="overlay">
  <div class="sk-wave">
    <div class="sk-rect sk-rect1"></div>
    <div class="sk-rect sk-rect2"></div>
    <div class="sk-rect sk-rect3"></div>
    <div class="sk-rect sk-rect4"></div>
    <div class="sk-rect sk-rect5"></div>
  </div>
</div>
<div id="map" class="container"></div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbvK8BomzmCBb7J0w6kEd2u3qDGbEj74A&callback=initMap" async defer></script>

<footer class="navbar navbar-fixed-bottom">
  <div class='col-md-4'></div>
  <div class='col-md-4'>
    <input id="timeline" data-slider-tooltip='always' type="text"  style="display: none;"/>
  </div>
</footer>
