<table>
  <tr><th>Name<th></tr>
  <tr><th>Last Run<th></tr>
<% @gatherers.each do |gatherer| %>
  <tr>
    <td><a href="gatherers/<%= gatherer.id %>"><%= gatherer.name %></a></td>
    <td><%= gatherer.last_run || 'None' %></td>
  </tr>
<% end %>
</table>
